 @import '../master';
 
 .countryTileHeader {
    display: flex;
    border-bottom: 3px solid $border_color;
    position: sticky;
    background-color: white;
    top: 0em;
    padding-bottom: 2em;
    padding-top: 2em;

    .headerTile {
        font-family: $primary_font;
        font-weight: 400;
        width: 100%;
        justify-content: space-around;
        font-size: 2em;
    }
}