.summary {
    width: 20%;
    padding-top: 4em;

    .sticky {
        position: sticky;
        top: 2em;
    }

    .infoHeader {
        font-weight: 400;
        font-size: 2em;
    }

    input {
        margin-top: 0em;
        margin-bottom: 2em;
        border: 2px solid beige;
        border-radius: 10px;
        height: 30px;
        width: 200px;
        outline: none;
        font-size: 24px;
        padding-left: 1em;
        color: grey;
    }

    ::placeholder {
        color: lightgrey;
    }

    input[type=text]:focus {
        background-color: whitesmoke;
      }

    .infoNumber {
        padding-top: 0.95em;

        .globalNumber {
            font-size: 2em;
            color: red;
            font-weight: bold;
            display: flex;
            flex-direction: column;
        }
    }
}