$primary_1: beige;
$primary_font: "Trebuchet MS";

.summary {
    width: 20%;
    padding-top: 4em;
    animation: mymove 5s infinite;


    .sticky {
        position: sticky;
        top: 2em;
    }

    .infoHeader {
        font-family: $primary_font;
        font-weight: 400;
        font-size: 2em;
        
    }

    @keyframes mymove {
        from {background-color: #f9f1d0;}
        to {background-color: #e1c4cb;}
    }

    input {
        margin-top: 0.5em;
        margin-bottom: 2em;
        border: 2px solid $primary_1;
        border-radius: 10px;
        height: 30px;
        width: 220px;
        outline: none;
        font-size: 24px;
        text-align: center;
        color: grey;

        &placeholder {
            color: lightgrey;
        }
    }

    input[type=text]:focus {
        background-color: whitesmoke;
      }

    .infoNumber {
        margin-top: auto;
        padding-top: 0.75em;

        .globalNumber {
            font-size: 2em;
            color: #54868d;
            font-weight: bold;
            display: flex;
            flex-direction: column;
        }
    }
}